@model BranchParams


@{
    ViewData["Title"] = "Create";
} 

<div class="content text-center">
    <div class="col-lg-5" style="display: inline-block">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Create Branch</h5>
            </div>

            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Branch">
                    <select name="LanguageId" id="language" class="btn btn-light">
                        @foreach (var item in ViewBag.Languages)
                        {
                            <option value="@item.Id"> @item.Code</option>

                        }
                    </select>
                    <a asp-action="Index" class="btn btn-light">
                        Go Back
                    </a>

                    <div class="form-group form-group-float">
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="OurAddress" class="form-control" placeholder="Out Address">
                        <span class="text-danger" asp-validation-for="OurAddress"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="Phone" class="form-control" placeholder="+994 50 111 11 11">
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="MediaSalesDepartment" class="form-control" placeholder="Media Sales Department">
                        <span class="text-danger" asp-validation-for="MediaSalesDepartment"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="WorkingHours" class="form-control" placeholder="Working Hours">
                        <span class="text-danger" asp-validation-for="WorkingHours"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="Map" class="form-control" placeholder="Map">
                        <span class="text-danger" asp-validation-for="Map"></span>
                    </div>
                    <button type="button" class="btn btn-secondary" disabled style="width: 200px; height: 30px; margin-bottom: 10px; text-align: center">Branch Photo</button>
                    <div class="form-group form-group-float">
                        <input type="file" asp-for="PhotosPhoto" class="form-control" placeholder="Branch">
                        <span class="text-danger" asp-validation-for="PhotosPhoto"></span>
                    </div>
                    <button type="button" class="btn btn-secondary" disabled style="width: 200px; height: 30px; margin-bottom: 10px; text-align: center">Tariff Photo</button>
                    <div class="form-group form-group-float">
                        <input type="file" asp-for="TariffPhoto" class="form-control" placeholder="Tariff">
                        <span class="text-danger" asp-validation-for="TariffPhoto"></span>
                    </div>
                    <button type="submit" class="btn bg-blue-800">Submit<i class="icon-ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>

