@model Service


@{
    ViewData["Title"] = "Create";
}

<div class="content text-center">
    <div class="col-lg-5" style="display: inline-block">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Create Service</h5>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Service">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <select name="LanguageId" id="language" class="btn btn-light">
                        @foreach (var item in ViewBag.Languages)
                        {
                            <option value="@item.Id"> @item.Code</option>

                        }
                    </select>
                    <a asp-action="Index" class="btn btn-light">
                        Go Back
                    </a>

                    <div class="form-group form-group-float">
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input type="file" asp-for="Icon" class="form-control" placeholder="Photo">
                        <span class="text-danger" asp-validation-for="Icon"></span>
                    </div>
                    <button type="submit" class="btn bg-blue-800">Submit<i class="icon-ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>
    </div>
