
@{
    ViewData["Title"] = "Detail";
    Service service = Model;
}



<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <h2 class="mt-0 header-title">Services Details</h2>


            <div class="table-responsive">
                <table class="table table-dark mb-0">
                    <form>
                        <select name="LanguageId" id="language">

                            @foreach (var item in ViewBag.Languages)
                            {
                                <option value="@item.Id"> @item.Code</option>

                            }


                        </select>
                    </form>
                    <thead>
                        <tr>
                            <th>Title & Description </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>
                                <div data-toggle="modal" data-target="#exampleModalLong" style="cursor: pointer">
                                    @service.Title

                                </div>
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="background-color: midnightblue">

                                                @service.Description

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a asp-action="Index" class="btn btn-primary" style="margin-left: 20px">Go Back</a>
</div>
