
@{
    ViewData["Title"] = "Index";
    List<Service> services = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Service</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var serv in services)
                            {
                                <tr>
                                    <td class="col-md-8">
                                        @serv.Title
                                    </td>

                                    <td class="col-md-4">
                                        <a asp-action="Detail" asp-route-id="@serv.Id" class="btn btn-info">Detail</a>
                                        <a asp-action="Update" asp-route-id="@serv.Id" class="btn btn-success">Update</a>
                                        <a asp-action="Delete" asp-route-id="@serv.Id" class="btn btn-danger" onclick="return confirm('Are you sure to delete ?')">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


