body {
  .movies {
    .moviesBody {
      padding-top: 10px;
      margin-left: -15px;
      margin-right: -15px;

      .movieBody {
        .col-md-3 {
          display: inline-block;
        }
        .titImg {
          &:hover {
            h2 {
              a {
                transition: 0.5s;
                background: #334e9e;
                color: #fff;
              }
            }
            .movieImage {
              overflow: hidden;

              .posterAnim {
                transform: scale(1.2);
                transition: 0.5s;
              }
            }
          }
          h2 {
            margin-top: 40px !important;
            max-height: 62px;
            margin: 31px 0 0px 0;
            background: #f3f3f3;
            a {
              font-size: 17px;
              color: #000000;
              padding-top: 10px;
              padding-bottom: 10px;
              min-height: 62px;
              display: block;
              text-align: center;
              text-decoration: none;
              transition: 0.5s;
            }
          }
          .movieImage {
            a {
              color: #000000;
              text-decoration: none;

              .posterAnim {
                width: 100%;
                display: block;
                height: 370px;
                overflow: hidden;

                img {
                  width: 100%;
                  display: block;
                  height: 370px;
                  transition: all 0.3s linear;
                  height: 100%;
                  position: relative;
                }
              }
            }
          }
        }
        .icons {
          padding-top: 4%;

          .posterIcons {
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #334e9e;

            .about {
              img {
                cursor: pointer;
                margin: 4px 0px;
                display: inline-block;
                margin: 4px 10px;
                height: 44px;
                width: 44px;
                position: relative;
                top: -7px;
              }
            }
          }
        }
        .sessions {
          &:hover {
            .goFilm {
              text-decoration: none;

              a {
                background-color: #00acec;
                transition: 0.5s;
                text-decoration: none;
              }
            }
          }
          .goFilm {
            background: #f3f3f3;
            padding: 20px 0;
            text-align: center;

            a {
              font-family: "Gotham-Medium";
              font-size: 14px;
              color: #ffffff;
              line-height: 19px;
              background: #334e9e;
              padding: 12px 20px;
              display: inline-block;
              border-radius: 50px;
              transition: all 0.3s linear;
              text-decoration: none;
            }
            .barrage {
              margin-left: 15%;
              padding: 2px 0;
              border-radius: 50%;
              border: 10px solid #d0021b;
              background: #d0021b;
              font-family: "Gotham-Medium";
              font-size: 16px;
              line-height: 40px;
              color: #ffffff;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .movieDetails {
    margin-top: 110px;

    iframe {
      width: 100%;
      height: 500px;
    }

    .tabs {
      .movieDesc {
        .leftSide {
          background: #1d2730;
          width: 50%;
          float: left;
          height: 400px !important;
          .detailImg {
            float: left;
            height: 400px;
          }
          .descMovie {
            color: #bbbec1;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 30px;
            padding: 60px 48px 108px 315px;
          }
        }
        .rightSide {
          background: #1d2730;
          width: 50%;
          float: left;
          height: 400px !important;
          height: 456px;
          overflow: hidden;
          position: relative;
          .filmDetails {
            padding: 0px 0;
            min-height: 400px;
            background: #f0f0f0;
            .context {
              padding: 0 2%;
              .detailsLine {
                list-style: none;
                li:last-child {
                  border-bottom: none;
                }
                .allLines {
                  font-size: 15px;
                  line-height: 19px;
                  padding-bottom: 10px;
                  border-bottom: 1px solid #cccccc;
                  margin-bottom: 10px;

                  .descTitles {
                    margin-right: 30px;
                    width: 120px;
                    color: #0075bc;
                    display: inline-block;
                    font-weight: bold;
                  }
                  .icons {
                    .posterIcon {
                      height: 50px;
                      line-height: 50px;
                      text-align: center;
                      color: #334e9e;
                    }
                  }

                  .secondPart {
                    display: inline-block;
                    max-width: 450px;
                    color: #000000;
                    font-weight: bold;
                    .abouts {
                      .miniImg {
                        cursor: pointer;
                        margin: 4px 0px;
                        display: inline-block;
                        margin: 4px 10px;
                        height: 44px;
                        width: 44px;
                        position: relative;
                        top: -7px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .plane {
    background: url("http://localhost:3000/images/platinum/platinum-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 110px;

    .title{
      font-size:50px;
      color: aqua;
      padding:5% 0 0 5%;
      
    }
    .prc{
      font-size:30px;
      color: aqua;
      padding:5% 0 0 10%;
    }
    .buy{
      padding:0 0 100px 70%;
    }
    ul {
      list-style :none;
      
      
    }
    
    .rowName{
      color: aqua;
      font-weight: 700;
      padding-left: 25%;
      
      
    }
    .seats {
      display: flex;
      flex-direction: row;
      padding-left: 30%;
      
    }
    .seat {
      padding:15px;
      
      input[type=checkbox] {
        position: absolute;
        opacity: 0;
      }
      input[type=checkbox]:checked {
        + label {
          background: rgb(114, 29, 3);      
          
        }
      }
      
      label {  
        font-weight: 700;
        background: aqua;
        border-radius: 10px;
        padding-bottom: 40px;
        padding-right: 20px;
        
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 0px 2px #828494;
        }
        
      }
    }
  }

  .filter {
    height: 98px;
    background: #1d2730;
    text-align: center;
    .filters {
      height: 98px;
      padding: 10px 0 0 21%;
      margin: 0 auto;
      
      .filterList {
        list-style: none;
        font-weight: bold;

        .filterSection {
          width: 120px;
          height: 48px;
          float: left;
          margin: 0 0 0 1px;

          &:first-child {
            width: 200px;
          }
          + li + li {
            width: 140px;
          }
          + li + li + li {
            width: 130px;
          }
          + li + li + li + li {
            width: 130px;
          }
          &:nth-of-type(1) select {
            border-radius: 5px 0 0 5px;
          }
          .box {
            background: #fff no-repeat 94% 50%;
            appearance: none;
            font-weight: bold;
            background-size: 28px;
          }
          

          .places {
            display: block;
            width: 100%;
            height: 48px;
            padding: 0 30px 0 15px;
            font-size: 14px;
            line-height: 48px;
            text-align: left;
            color: #000000;
            text-decoration: none;
            background: #fff url() no-repeat 90% 50%;
            
          }
          .selectFilter {
            display: block;
            position: relative;
            width: 100%;
            height: 48px;
            padding: 0 30px 0 15px;
            border: none;
            font-size: 14px;
            font-family: "Gotham-Medium";
            cursor: pointer;
            transition: 0.5s;
            #selectOpt {
              background-color: whitesmoke;
              color: rgb(20, 46, 80);
              font-weight: bold;
              font-size: 17px;
              font-family: "Gotham-Medium";
              padding-bottom: 5px;
              cursor: pointer;
              border-radius: 5px 0 0 5px;
            }
          }
          button {
            border: none;
            font-family: "Gotham-Medium";
            font-size: 14px;
            color: #ffffff;
            padding: 13px 0;
            background: #334e9e;
            width: 104px;
            border-radius: 0px 5px 5px 0px;
            display: block;
          }
          .disabled {
            background: #666 !important;
            pointer-events: none;
          }
        }
      }
    }
  }
  .faq{
    margin-top: 130px;

    .accordion {
      max-width: 90%;
      margin: 10px auto 10px;
      border-radius: 3px;
      background: #ffffff;
      
      .accordion-visible {
        background: #d4d4d4;
        width: 100%;
        color: rgb(20, 19, 82);
        cursor: pointer;
        border: 1px solid #474d9b;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 25px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      .accordion-visible span {
        padding: 10px 0;
        font-size: 20px;
      }
      .accordion-visible img {
        width: 20px;
        transform: rotate(-90deg);
        transition: transform 0.2s ease-in-out;
      }
      .accordion-visible img.active {
        transform: rotate(0deg);
      }
  
      .accordion-visible h2 {
        font-size: 20px;
      }
  
      .accordion-toggle {
        height: 0px;
        font-size: 18px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
        color: #333;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
  
      .animated {
        opacity: 1;
        transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
      }
  
      .accordion-toggle p {
        margin: 0;
        padding: 22px 15px;
        pointer-events: none;
        line-height: 1.3;
      }
    }
  }
  

  .tariffs {
    font-family: "Gotham-Medium";
    
    .tabs {
      .head {
        margin-top: 10px;
        text-align: center;
        height: 46px;
        .title {
          background: #334e9e;
          color: #fff;
          border-radius: 5px 5px 0 0;
          padding: 15px 20px 12px 20px;
          font-size: 18px;
          line-height: 21px;
          display: inline-block;
          text-decoration: none;
        }
      }
      .tabBody {
        border-top: 5px solid #334e9e;

        .tabTariffs {
          display: block;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .branchs {
    margin-top: 110px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    .branchNames {
      width: 100%;
      background: #314ca0;
      padding: 10px 0;
      text-align: center;
      list-style: none;

      .CinemaDealer {
        display: inline-block;
        font-size: 18px;
        line-height: 21px;
        margin-right: 20px;
        border-radius: 15px;

        padding: 10px 10px;
        cursor: pointer;

        .cinemaBranch {
          color: #fff;
          text-decoration: none;
          background-color: #0b1a9b;
        }
        &:active {
          a {
            color: #314ca0;
          }
        }
      }
    }
  }
  .contact {
    font-family: "Gotham-Medium";

    .tabs {
      padding-top: 50px;
      .head {
        margin-top: 20px;
        text-align: center;
        height: 46px;
        .title {
          background: #334e9e;
          color: #fff;
          border-radius: 5px 5px 0 0;
          padding: 15px 20px 12px 20px;
          font-size: 18px;
          line-height: 21px;
          display: inline-block;
          text-decoration: none;
        }
      }
      .tabBody {
        .contacts {
          display: block;
          background: #171f26;
          ul {
            padding-top: 20px;
            list-style: none;
            li {
              font-size: 16px;
              line-height: 22px;
              padding: 10px 0;
              border-bottom: 1px solid #333e48;
              text-align: center;
              max-width: 525px;
              margin: 0 auto;
              span {
                color: #60ccee;
                margin-bottom: 5px;
              }
              p {
                color: #fff;
              }
              .sendButton {
                display: inherit;
                margin: 46px auto 105px auto;
                border-radius: 5px;
                font-size: 16px;
                color: #ffffff;
                letter-spacing: 0px;
                line-height: 22px;
                background: #0075bc;
                width: 170px;
                text-align: center;
                padding: 14px 0;
                text-decoration: none;
              }
            }
          }
          .map {
            width: 100%;
            height: 90%;
            //border: 5px;
          }
        }
      }
    }
  }
  .navbar {
    padding: 0 !important;
    margin: 0 !important;
    position: fixed;
    right: 0;
    top:0;
    z-index: 20;
    .nav-logo {
      background-color: #334e9e;
      padding: 10px;
      height: 110px;
      img {
        height: 90px;
        padding-left: 45%;
      }
    }

    .nav-right-down {
      padding: 0;
      height: 55px;
      background-color: #00acec;
      ul {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        list-style: none;
        li {
          padding-top: 15px;
          a {
            padding: 16px 29px;
            font-size: 18px;
            line-height: 24px;
            font-family: "Gotham-Medium";
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .nav-right-up {
      height: 55px;
      display: flex;
      padding: 17px 0;
      background-color: white;
      
      .static_menu {
        list-style: none;

        li {
          a {
            text-decoration: none;
            margin-right: 62px;
            color: #6a6a6a;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      .languages {
        display: flex;
        width: 160px;
        float: right;
        margin: 0;
        padding: 0;
        li {
          cursor: pointer;
          list-style: none;
          padding-right: 20px;
          color: #000000;
        }
        img {
          padding: 3px 5% 0 0;
        }
      }
    }
    .phone {
      color: white;
      padding: 15px 0 0 5%;
    }
  }
  .platinum-section {
    background-image: url("http://localhost:3000/images/platinum/platinum-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;

    .title {
      font-weight: 700;
      left: 45%;
      color: white;
      text-align: center;
      font-family: "Gotham-Medium";
      font-size: 30px;
      margin-bottom: 16px;
      padding: 5% 0;
    }
    .title-img {
      display: block;
      clear: both;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
      font-family: "Gotham-Medium";
      color: #61ccee;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-top: 3%;
    }

    p {
      color: white;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      padding-bottom: 10%;
      font-weight: 700;
    }
    .center-text {
      text-align: center;
    }
  }
  .aboutTab {
    background: url("http://localhost:3000/images/about/about.jpg") no-repeat
      center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 110px;

    .container {
      font-family: "Gotham-Medium";
      padding-top: 40px;
      text-align: center;
      color: #fff;
      position: relative;
      .row {
        margin-left: -15px;
        margin-right: -15px;
        .tabs {
          .title {
            font-family: "Gotham-Medium";

            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
          }
          .description {
            font-family: "Gotham-Medium";
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 30px;
            text-align: left;
            .lines {
              font-size: 16px;
              line-height: 19px;
              padding-bottom: 15px;
              text-align: left;
              list-style: none;
            }
          }
          .cinemas {
            margin-bottom: 42px;

            .dealers {
              border: 1px solid #ffffff;
              border-radius: 20px;
              padding: 10px 15px;
              margin-bottom: 15px;
              margin-right: 3px;
              font-size: 15px;
              line-height: 21px;
              display: inline-block;

              &:hover {
                background: #fff;
                .dealer {
                  font-size: 15px;
                  line-height: 21px;
                  color: #00acec;
                }
              }

              .dealer {
                text-decoration: none;
                font-size: 15px;
                line-height: 21px;
                color: #fff;
              }
            }
          }
        }
        .offers {
          margin-bottom: 44px;
          font-size: 16px;
          line-height: 21px;
          margin-top: 8px;
          display: inline-block;
          .aboutImg {
            display: inline-block;
            margin-bottom: 20px;
          }
        }
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(23, 31, 38, 0.9);
      pointer-events: none;
      top: 0;
      left: 0;
    }
  }
  .service-section {
    background: url("http://localhost:3000/images/about/about.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;

    position: relative;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(23, 31, 38, 0.9);
      pointer-events: none;
      top: 0;
      left: 0;
    }
    .container {
      position: relative;
    }
    .title {
      font-weight: 700;
      left: 45%;
      color: white;
      text-align: center;
      font-family: "Gotham-Medium";
      font-size: 30px;
      margin-bottom: 16px;
      padding: 5% 0;
    }
    .title-img {
      display: block;
      clear: both;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
      font-family: "Gotham-Medium";
      color: #61ccee;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-top: 3%;
    }

    p {
      color: white;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      padding-bottom: 10%;
      font-weight: 700;
    }
    .center-text {
      text-align: center;
    }
  }
  .campaigns {
    margin-top: 110px;

    .campgHead {
      margin-top: 20px;
      text-align: center;
      height: 46px;
      .campgTitle {
        background: #334e9e;
        color: #fff;
        border-radius: 5px 5px 0 0;
        padding: 15px 20px 12px 20px;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        text-decoration: none;
      }
    }
    .campgBody {
      border-top: 5px solid #334e9e;
      .campgBlueLine {
        padding: 10px 0;
        background: #334e9e;
        text-align: center;
      }
      .row {
        margin-left: -15px;
        margin-right: -15px;
        padding: 30px 0;
        .col-md-4 {
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          p {
            font-size: 16px;
            line-height: 20px;
            color: #334e9e;
            height: 55px;
            display: table-cell;
            vertical-align: bottom;
            padding-bottom: 10px;
          }

          .campgImg {
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .campaignDetail {
    margin-top: 110px;

    .campgDetailHead {
      h4 {
        font-family: "Gotham-Medium";
        font-size: 16px;
        color: #314ca0;
        letter-spacing: 0px;
        line-height: 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 12px;
        padding-top: 20px;
        font-weight: bold;
      }
      .campgDate {
        margin-bottom: 22px;
        color: #333;
        font-family: "Gotham-Medium";
        font-size: 14px;
        line-height: 19px;
        font-weight: bold;
      }
      .campgImg {
        margin-bottom: 20px;
        display: block;
        width: 45%;
        padding-left: 35px;
      }
    }
    .campgDesc {
      font-family: "Gotham-Light";
      font-size: 14px;
      color: #000000;
      letter-spacing: 0px;
      line-height: 22px;
      margin-bottom: 40px;
      display: block;
      p {
        padding-left: 0% !important;
      }
      .noneDots {
        list-style-type: none;
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
  .advertisement {
    background: no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    z-index: 10;
    text-align: center;
    margin-top: 110px;
    .for-style {
      margin: 0px auto 20px;
    }
    img {
      max-width: 100%;
      height: 500px;
    }
    .adve {
      overflow: hidden;
      position: relative;
      width: 100%;
      .coverAdvert {
        width: 1280px;
        left: 0px;
        display: block;
        max-width: 70%;
      }
    }
  }
  .rules {
    margin-top: 110px;

    .start {
      
      overflow-x: hidden;
      .rulesBody {
        padding-top: 0;
        border-top: none;
        .rules-name {
          font-family: "Gotham-Medium";
          font-size: 16px;
          color: #314ca0;
          letter-spacing: 0px;
          line-height: 22px;
          padding-bottom: 10px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 12px;
          padding-top: 20px;
        }
        .rulesText {
          font-family: "Gotham-Light";
          font-size: 14px;
          color: #000000;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
          li {
            padding: 10px;
          }
        }
      }
    }
  }
  .vacancies {
    margin-top: 110px;

    .tabs {
      
      overflow-x: hidden;
      .tabBody {
        padding-top: 0;
        border-top: none;
        padding-top: 40px;
        padding-bottom: 87px;
        max-width: 1200px;
        margin: 0 auto;
        .vacName {
          font-family: "Gotham-Medium";
          font-size: 16px;
          color: #314ca0;
          letter-spacing: 0px;
          line-height: 22px;
          padding-bottom: 10px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 12px;
          padding-top: 20px;
        }
        .vacImage {
          margin-bottom: 20px;
          .imgVac {
            display: block;
            width: 100%;
          }
        }
        .vacNews {
          font-family: "Gotham-Light";
          font-size: 14px;
          color: #000000;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
          .lines {
            padding-bottom: 20px;
            list-style: none;
          }
        }
      }
    }
  }
  .news-section {
    .tab_header {
      text-align: center;
      height: 46px;
      a {
        background: #334e9e;
        color: #fff;
        text-decoration: none;
        border-radius: 5px 5px 0 0;
        padding: 15px 20px 12px 20px;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
      }
    }
    .indexNews {
      background: #334e9e;
      .newsSection {
        padding: 0 !important;
        .allNews {
          display: block;
          text-align: center;
          padding: 15px 0;
          color: #fff;
          font-size: 16px;
          font-family: "Gotham-Medium";
          text-decoration: underline;
          position: relative;
          top: 20px;
        }

        .item {
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          .newsDate {
            text-align: start;
            font-family: "Gotham-Medium";
            font-size: 14px;
            color: #ffffff;
            line-height: 19px;
            margin-bottom: 15px;
          }
          .newsDesc {
            font-size: 16px;
            color: #ffffff;
            line-height: 19px;
            margin-top: 11px;
          }
        }
        a {
          text-decoration: none;
          color: #ffffff;
        }
        h3 {
          font-family: "Gotham-Medium";
          font-size: 20px;
          letter-spacing: 0px;
          line-height: 26px;
        }
        .newsImg {
          img {
            width: 80%;
          }
        }
        padding-top: 50px;

        overflow-x: hidden;
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;

        .newsHeader {
          height: 46px;
          background-color: #334e9e;
          color: #fff;
          border-radius: 5px 5px 0 0;
          padding: 15px 20px 12px 20px;
          font-size: 18px;
          line-height: 21px;
          display: inline-block;
        }
        .newsBody {
          padding: 30px 0 100px 0;
          border-top: 5px solid #334e9e;
        }
        .news-title {
          text-align: center;
        }
      }
    }
  }

  .dolbyAtmos {
    background-image: url("http://localhost:3000/images/dolby/guide_bg.jpg");
    width: 100%;
    padding: 30px 0;
    min-height: 300px;
    background-size: cover;
    margin-top: 110px;

    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin: 0px !important;
      font-weight: bold;
      line-height: 1.2em;
      color: #fff;
    }
    h5 {
      margin: 0px !important;
    }
    iframe {
      width: 100%;
      height: 600px;
    }
    .dolbyAtmos-Logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
    }
    .dolbyFirstDescription {
      margin-top: 20px;
    }
  }
  .cineClub {
    position: relative;
    min-height: 840px;
    margin-top: 110px;

    .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      .allTabs {
        padding-top: 50px;
        overflow-x: hidden;
        padding-top: 0;
        border-top: none;
        padding-bottom: 87px;
        max-width: 1200px;
        margin: 0 auto;
        strong {
          color: #000000;
        }
        .texts {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-family: "Gotham-Light";
          font-size: 17px;
          color: gray;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
          ul,
          ol {
            li {
              margin-bottom: 10px;
            }
          }
        }
        table {
          display: table;
          border-collapse: separate;
          box-sizing: border-box;
          text-indent: initial;
          border-spacing: 2px;
          border-color: grey;
          border-spacing: 0;
          width: 100%;
          tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr {
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              td {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
              }
            }
          }
        }
        .cineNews {
          font-family: "Gotham-Light";
          font-size: 14px;
          color: #000000;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
        }
        .bigImage {
          margin-bottom: 20px;
        }
        .cineName {
          font-family: "Gotham-Medium";
          font-size: 16px;
          color: #314ca0;
          letter-spacing: 0px;
          line-height: 22px;
          padding-bottom: 10px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 12px;
          padding-top: 20px;
        }
      }
    }
  }
  .footer {
    background-image: url("http://localhost:3000/images/footer/prices_bg.jpg");
    background-size: cover;
    padding: 10px 0 15px 0;

    .for-height {
      height: 104px;
    }
    label {
      font-weight: bold;
      display: block;
      color: #fff;
      margin: 10px 0 18px 6px;
    }
    ul {
      list-style: none;
      width: 100%;
      float: left;
      padding-top: 10px;
      li {
        margin-bottom: 4px;
        .respons {
          text-decoration: none;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #fff;
          font-family: 14px, "Gotham-Medium";
        }
      }
    }
    .row {
      padding-bottom: 15px;
      border-bottom: 1px solid #fff;
    }
    .all_rights {
      padding-left: 10%;
      a {
        float: none;
        padding-top: 10px;
        display: inline-block;
        color: #fff;
        text-decoration: underline;
      }
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      padding-top: 24px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .social {
      text-align: center;
      border-left: 1px solid #fff;
      a {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      .icons {
        background: no-repeat center;
      }
    }
    p {
      display: block;
      color: #fff;
      margin: 10px 0 18px 6px;
    }
    .applications {
      height: 104px;
      .app {
        display: inline-block;
        margin: 0 10px 10px;
        img {
          height: 43px;
        }
      }
      text-align: center;
      border-left: 1px solid #fff;
    }
  }
  text-decoration: none;
  width: 100%;
  font-family: 14px "Gotham-Medium";
  overflow-x: hidden;
  color: #fff;
}

// Footer Media Query Start
@media only screen and (max-width: 1200px) {
  .social {
    a,
    .fb,
    .twitter,
    .youtube,
    .instagram {
      width: 40px;
      height: 40px;
    }
  }
}

@media only screen and (max-width: 1003px) {
  .social {
    a,
    .fb,
    .twitter,
    .youtube,
    .instagram {
      width: 35px;
      height: 35px;
    }
  }
  .respons {
    font-size: 11px;
  }
}
