body {
  .accordion {
    max-width: 400px;
    margin: 100px auto 0;
    border-radius: 3px;
    background: #f1f1f1;
    .accordion-visible {
        background: #7177ca;
        width: 100%;
        color: #fff;
        cursor: pointer;
        border: 1px solid #474d9b;;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .accordion-visible span {
        padding: 15px 0;
        font-size: 20px;
    }
    .accordion-visible img {
        width: 20px;
        transform: rotate(-90deg);
        transition: transform 0.2s ease-in-out;
    }
    .accordion-visible img.active {
        transform: rotate(0deg)
    }
    
    .accordion-visible h2 {
        font-size: 20px;
    }
    
    .accordion-toggle {
        height: 0px;
        font-size: 18px;
        opacity: 0;
        transition:  
        opacity 0.3s ease-in-out,
        height 0.3s 0.3s ease-in-out;
        color: #333;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    
    .animated {
        opacity: 1;
        transition:  
        height 0.3s ease-in-out,
        opacity 0.3s 0.3s ease-in-out;
    }
    
    .accordion-toggle p {
        margin: 0;
        padding: 22px 15px;
        pointer-events: none;
        line-height: 1.3;
    }
    
}


  .navbar {
    padding: 0 !important;
    margin: 0 !important;

    .nav-logo {
      background-color: #334e9e;
      padding: 10px;
      height: 110px;
      img {
        height: 90px;
        padding-left: 45%;
      }
    }

    .nav-right-down {
      padding: 0;
      height: 55px;
      background-color: #00acec;
      ul {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        list-style: none;
        li {
          margin-top: 12px;
          a {
            padding: 16px 29px;
            font-size: 18px;
            line-height: 24px;
            font-family: "Gotham-Medium";
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .nav-right-up {
      height: 55px;
      display: flex;
      padding: 17px 0;
      .static_menu {
        list-style: none;

        li {
          a {
            text-decoration: none;
            margin-right: 62px;
            color: #6a6a6a;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      .languages {
        display: flex;
        width: 160px;
        float: right;
        margin: 0;
        padding: 0;
        li {
          cursor: pointer;
          list-style: none;
          padding-right: 20px;
          color: #000000;
        }
      }
    }
  }
  .platinum-section {
    background-image: url("http://localhost:3000/images/platinum/platinum-background.png");
    
    background-size: cover;

    .title {
      font-weight: 700;
      left: 45%;
      color: white;
      text-align: center;
      font-family: "Gotham-Medium";
      font-size: 30px;
      margin-bottom: 16px;
      padding: 5% 0;
    }
    .title-img {
      display: block;
      clear: both;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
      font-family: "Gotham-Medium";
      color: #61ccee;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-top: 3%;
    }

    p {
      color: white;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      padding-bottom: 10%;
      font-weight: 700;
    }
    .center-text {
      text-align: center;
    }
  }
  .service-section {
    background-image: url("http://localhost:3000/images/servicee/service-background.png");

    background-size: cover;

    .title {
      font-weight: 700;
      left: 45%;
      color: white;
      text-align: center;
      font-family: "Gotham-Medium";
      font-size: 30px;
      margin-bottom: 16px;
      padding: 5% 0;
    }
    .title-img {
      display: block;
      clear: both;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
      font-family: "Gotham-Medium";
      color: #61ccee;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-top: 3%;
    }

    p {
      color: white;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      padding-bottom: 10%;
      font-weight: 700;
    }
    .center-text {
      text-align: center;
    }
  }
  .campaigns {
    .campgHead {
      text-align: center;
      height: 46px;
      .campgTitle {
        background: #334e9e;
        color: #fff;
        border-radius: 5px 5px 0 0;
        padding: 15px 20px 12px 20px;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        text-decoration: none;
      }
    }
    .campgBody {
      border-top: 5px solid #334e9e;
      .campgBlueLine {
        padding: 25px 0;
        background: #334e9e;
        text-align: center;
      }
      .row {
        margin-left: -15px;
        margin-right: -15px;
        padding: 30px 0;
        .col-md-4 {
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          p {
            font-size: 16px;
            line-height: 20px;
            color: #334e9e;
            height: 55px;
            display: table-cell;
            vertical-align: bottom;
            padding-bottom: 10px;
          }

          .campgImg {
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
            img {
              width: 100%;
            }
          }
          .campgLabel {
            display: inline-block;
            background: #009cff;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 10px;
            font-family: "Gotham-Medium";
            color: #fff;
            position: absolute;
            left: 10px;
            bottom: 237px;
            z-index: 99;
            font-weight: bold;
          }
        }
      }
    }
  }
  .advertisement {
    background: no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    z-index: 10;
    text-align: center;
    .for-style {
      margin: 0px auto 20px;
    }
    img {
      max-width: 100%;
      height: 500px;
    }
    .adve {
      overflow: hidden;
      position: relative;
      width: 100%;
      .coverAdvert {
        width: 1280px;
        left: 0px;
        display: block;
        max-width: 70%;
      }
    }
  }
  .rules {
    .start {
      padding-top: 50px;
      overflow-x: hidden;
      .rulesBody {
        padding-top: 0;
        border-top: none;
        .rules-name {
          font-family: "Gotham-Medium";
          font-size: 16px;
          color: #314ca0;
          letter-spacing: 0px;
          line-height: 22px;
          padding-bottom: 10px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 12px;
          padding-top: 20px;
        }
        .rulesText {
          font-family: "Gotham-Light";
          font-size: 14px;
          color: #000000;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
          li {
            padding: 10px;
          }
        }
      }
    }
  }
  
  .newsSection {
    padding: 0 !important;
    
    .allNews {
      display: block;
      text-align: center;
      padding: 15px 0;
      color: #fff;
      font-size: 16px;
      font-family: "Gotham-Medium";
      text-decoration: underline;
      position: relative;
      top: 20px;
    }

    .item {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      .newsDate {
        text-align: start;
        font-family: "Gotham-Medium";
        font-size: 14px;
        color: #ffffff;
        line-height: 19px;
        margin-bottom: 15px;
      }
      .newsDesc {
        font-size: 16px;
        color: #ffffff;
        line-height: 19px;
        margin-top: 11px;
      }
    }
    a {
      text-decoration: none;
      color: #ffffff;
    }
    h3 {
      font-family: "Gotham-Medium";
      font-size: 20px;
      letter-spacing: 0px;
      line-height: 26px;
    }
    .newsImg {
      img{
        width: 80%;
      }
    }
    padding-top: 50px;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    .newsHeader {
      height: 46px;
      background-color: #334e9e;
      color: #fff;
      border-radius: 5px 5px 0 0;
      padding: 15px 20px 12px 20px;
      font-size: 18px;
      line-height: 21px;
      display: inline-block;
    }
    .newsBody {
      background: #334e9e;
      padding: 30px 0 100px 0;
      border-top: 5px solid #334e9e;
    }
    .news-title{
      text-align: center;
    }
  }
  .dolbyAtmos {
    background-image: url("http://localhost:3000/images/dolby/guide_bg.jpg");
    width: 100%;
    padding: 30px 0;
    min-height: 300px;
    background-size: cover;
    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin: 0px !important;
      font-weight: bold;
      line-height: 1.2em;
      color: #fff;
    }
    h5 {
      margin: 0px !important;
    }
    iframe {
      width: 100%;
      height: 600px;
    }
    .dolbyAtmos-Logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
    }
    .dolbyFirstDescription {
      margin-top: 20px;
    }
  }
  .cineClub {
    position: relative;
    min-height: 840px;
    .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      .allTabs {
        padding-top: 50px;
        overflow-x: hidden;
        padding-top: 0;
        border-top: none;
        padding-bottom: 87px;
        max-width: 1200px;
        margin: 0 auto;
        strong {
          color: #000000;
        }
        .texts {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-family: "Gotham-Light";
          font-size: 17px;
          color: gray;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
          ul,
          ol {
            li {
              margin-bottom: 10px;
            }
          }
        }
        table {
          display: table;
          border-collapse: separate;
          box-sizing: border-box;
          text-indent: initial;
          border-spacing: 2px;
          border-color: grey;
          border-spacing: 0;
          width:100%;
          tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr {
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              td {
                display: table-cell;
                text-align: center; 
                vertical-align: middle;
              }
            }
          }
        }
        .cineNews {
          font-family: "Gotham-Light";
          font-size: 14px;
          color: #000000;
          letter-spacing: 0px;
          line-height: 22px;
          margin-bottom: 40px;
        }
        .bigImage {
          margin-bottom: 20px;
        }
        .cineName {
          font-family: "Gotham-Medium";
          font-size: 16px;
          color: #314ca0;
          letter-spacing: 0px;
          line-height: 22px;
          padding-bottom: 10px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 12px;
          padding-top: 20px;
        }
      }
    }
  }
  .footer {
    background-image: url("http://localhost:3000/images/footer/prices_bg.jpg");
    background-size: cover;
    padding: 10px 0 15px 0;
    .for-height {
      height: 104px;
    }
    label {
      font-weight: bold;
      display: block;
      color: #fff;
      margin: 10px 0 18px 6px;
    }
    ul {
      list-style: none;
      width: 100%;
      float: left;
      padding-top: 10px;
      li {
        margin-bottom: 4px;
        .respons {
          text-decoration: none;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #fff;
          font-family: 14px, "Gotham-Medium";
        }
      }
    }
    .row {
      padding-bottom: 15px;
      border-bottom: 1px solid #fff;
    }
    .all_rights {
      padding-left: 10%;
      a {
        float: none;
        padding-top: 10px;
        display: inline-block;
        color: #fff;
        text-decoration: underline;
      }
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      padding-top: 24px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .social {
      text-align: center;
      border-left: 1px solid #fff;
      a {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      .icons{
        background: 
        no-repeat center;
      }
      
      
    }
    p {
      display: block;
      color: #fff;
      margin: 10px 0 18px 6px;
    }
    .applications {
      height: 104px;
      .app {
        display: inline-block;
        margin: 0 10px 10px;
        img {
          height: 43px;
        }
      }
      text-align: center;
      border-left: 1px solid #fff;
    }
  }
  text-decoration: none;
  width: 100%;
  font-family: 14px "Gotham-Medium";
  overflow-x: hidden;
  color: #fff;
  
}

// Footer Media Query Start
@media only screen and (max-width: 1200px) {
  .social {
    a,
    .fb,
    .twitter,
    .youtube,
    .instagram {
      width: 40px;
      height: 40px;
    }
  }
}

@media only screen and (max-width: 1003px) {
  .social {
    a,
    .fb,
    .twitter,
    .youtube,
    .instagram {
      width: 35px;
      height: 35px;
    }
  }
  .respons {
    font-size: 11px;
  }
}
