

.nav-logo{
    background-color: #334E9E;
    padding: 10px;
    height: 110px;
    img{
        height: 90px;
        padding-left: 45%;
    }
}
.nav-right-up{
    height: 55px;
}
.nav-right-down{
    height: 55px;
    background-color:#00ACEC ;
}
.nav-right-up{
    display: flex;
    justify-content: space-between;
    .languages{
        display: flex;
        li{
            cursor: pointer;
        }
    }
}
ul{
    li{
        padding-right: 20px;
        list-style: none;
        
    }
}