@model Platinium
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body bg-dark font-weight-bold text-white">
                <h4 class="card-title text-white">Create Platinum</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <select name="LanguageId" id="language">

                            @foreach (var item in ViewBag.Languages)
                            {
                                <option value="@item.Id"> @item.Code</option>

                            }


                        </select>
                    <div class="form-group">
                        <label asp-for="Title">First Title</label>
                        <input asp-for="Title" class="form-control" placeholder="FirstTitle">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="4" id="editor"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="Index" class="btn btn-secondary">Go back</a>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>