@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group form-group-float" style="padding: 10px, 10px;">
    <img src="/img/cpluslogo.svg" alt="Cinema Plus" style="height: 300px; background-color: #2196F3; margin: 2px;">
</div>
