@model DolbyAtmos
@{
    ViewData["Title"] = "Create";
}



<div class="content text-center">
    <div class="col-lg-6 ">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Create Dolby Atmos in new language</h5>

                
                   
                
            </div>
            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="DolbyAtmos">

                    <select name="LanguageId" id="language" class="btn btn-light">

                        @foreach (var item in ViewBag.Languages)
                        {
                            <option value="@item.Id"> @item.Code</option>

                        }


                    </select>
                    <a asp-action="Index" class="btn btn-light">
                        Go Back
                    </a>

                    <div class="form-group form-group-float">
                        <input asp-for="FirstTitle" class="form-control" placeholder="First Title">
                        <span class="text-danger" asp-validation-for="FirstTitle"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="FirstDescription" rows="4" cols="4" class="form-control" placeholder="First Description"></textarea>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="YoutubeURL" class="form-control" placeholder="Youtube Url">
                        <span class="text-danger" asp-validation-for="YoutubeURL"></span>
                    </div>
                    <div class="form-group form-group-float">
                        <input asp-for="SecondTitle" class="form-control" placeholder="Second Title">
                        <span class="text-danger" asp-validation-for="SecondTitle"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="SecondDescription" rows="4" cols="4" class="form-control" placeholder="Second Description"></textarea>
                    </div>


                    <button type="submit" class="btn bg-blue-800">Submit<i class="icon-ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
