
@{
    ViewData["Title"] = "Index";
    List<DolbyAtmos> dolbyAtmos = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Dolby Atmos</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                       
                            @foreach (var dolby in dolbyAtmos)
                            {
                                <tr>
                                    <td>
                                        @dolby.FirstTitle
                                    </td>

                                    <td>                                

                                        <a asp-action="Detail" asp-route-id="@dolby.Id" class="btn btn-info">Detail</a>
                                        <a asp-action="Update" asp-route-id="@dolby.Id" class="btn btn-success">Update</a> 
                                        <a asp-action="Delete" asp-route-id="@dolby.Id" onclick="return confirm('Are you sure to delete ?')" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


