@model DolbyAtmos
@{
    ViewData["Title"] = "Update";
}

<div class="row"> 
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body bg-dark font-weight-bold text-white">
                <h4 class="card-title text-white">Update Dolby Atmos in new language</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <select name="LanguageId" id="language" class="btn btn-secondary">

                        @foreach (var item in ViewBag.Languages)
                        {
                            <!option value="@item.Id" @(item.Id == Model.LanguageId ? "selected" : "")> @item.Code</!option>

                        }


                    </select>

                    <div class="form-group">
                        <label asp-for="FirstTitle">First Title</label>
                        <input asp-for="FirstTitle" class="form-control" placeholder="FirstTitle">
                        <span asp-validation-for="FirstTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstDescription">First Description</label>
                        <textarea asp-for="FirstDescription" class="form-control" rows="4" id="editor" style="color: black"></textarea>
                        <span asp-validation-for="FirstDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="YoutubeURL">Youtube URL</label>
                        <input asp-for="YoutubeURL" class="form-control" placeholder="YoutubeURL">
                        <span asp-validation-for="YoutubeURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecondTitle">Second Title</label>
                        <input asp-for="SecondTitle" class="form-control" placeholder="SecondTitle">
                        <span asp-validation-for="SecondTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecondDescription">Second Description</label>
                        <textarea asp-for="SecondDescription" class="form-control" rows="4" id="editor"></textarea>
                        <span asp-validation-for="SecondDescription" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-warning mr-2">Update</button>
                    <a asp-action="Index" class="btn btn-secondary">
                        Go Back
                    </a>

                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
<script>
    fontFamily: {
        options: [
            'default',
            'Ubuntu, Arial, sans-serif',
            'Ubuntu Mono, Courier New, Courier, monospace'
        ]
    };
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>